.clear-button{
    height: 80px;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 1.6em;
    color: white;
    background-color: #ac0246;
    border-radius: 25px;
    border: 2px solid white;
    margin-top: 8px;
    cursor: pointer;
    user-select: none;
  }
    
  .clear-button:hover{
    background-color: #ebb000;
  }